.desktopHeader h2, .desktopHeader a{
    height: 100%;
    padding: 27px 12px; 
    margin: 0px;
    color: rgba(1, 48, 34, 0.884);
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;

    border: transparent 2px solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

.desktopHeader a{
    font-size: 15px;
}

.hoverShiftDown:hover{
    border-top-width: 4px;
    border-top-color:  rgba(1, 48, 34, 0.884);
    padding-top: 25px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.hoverColorBlack:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;

}

.dropdownHover:hover{
    border-top-width: 1px;
    border-top-color: black;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.signIn:hover {
    background-color: #eaeaea;
    font-size: 16px;
    color: #515151 !important;
    border-color: #459fed;
    box-shadow: 1px 1px black;
    margin-left: 0px;
    margin-right: 4.5px;
    cursor: pointer;
}
.signIn {
    border-radius: 30px 10px 30px 30px;
    font-size: 15px;
    padding: 2px 8px;
    margin: 24px 1.5px;
    text-align: center;
    background-color: transparent;
    color: rgba(1, 48, 34, 0.884);
    border: 1px solid;
    border-color:  rgba(1, 48, 34, 0.884);
    box-sizing: content-box;
    height: 22px;
    text-decoration: none;
    transition: all 100ms linear;
    margin-right: 6px;
}


.dropdown-context{
	position: absolute;
	top: 72px;
	z-index: 100;
	height: 0px;
	overflow-y: hidden;
	margin:0px;
    transition: 100ms all linear;
    background: rgba(255, 255, 255, 0.92);   
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.09);
    display: flex;
    width: 160px;
    flex-direction: column;
    padding-left: 5px;
    box-sizing: border-box;
}
.portfolioDropdown:hover .portfolio-context{
	z-index: 100;
	/*height: unset;*/
	height: 232px;
    border: 0.5px rgb(197, 197, 197) solid;
    border-top-width: 0.2px;
}

.portfolioDropdown{
    display: flex;
}




.isa_success_header{
    margin: 10px 0px;
    padding:12px;
    width:  98%;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    align-content: center;
	justify-content: center;
	text-align: center;
	height: 20px;
	line-height: 17px;
 
}
.isa_success_header{
    color: #4f8a10;
	background-color: #dff2bfc9;
}
.isa_success_header i{  
    margin:10px 22px;
    font-size:2em;
	vertical-align:middle;
}

.isa_error_header{
    color: rgb(255, 255, 255);
	background-color: rgba(224, 71, 11, 0.795);
}


.listItem:hover{
    text-decoration: underline;
}

.listItem{
    padding-top: 12px !important;
    padding-bottom: 0px !important;
    height: 44px !important;
}



.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Light";
    padding-left: 10px;
    background-color: #F5F5C4; color: #616161;
}
.onoffswitch-inner:after {
    content: "Dark";
    padding-right: 10px;
    background-color: #424242; color: #F5F5F5;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #F7F7F7;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

input.dark, textarea.dark{
    color: gainsboro;
    background: #3b3b3b;
}