
.mainDiv{
    width:35%;
    margin:auto;
    height: 80%;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: #e2e0e0;
    margin-top: 20px;
    border-radius: 2px;
    background: #44444473;
    border: 4px grey solid;
}

html{
}

.mainDiv input{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}


.mainDiv form{
    width: 100%;
}

.mainDiv button{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

h1{
    text-align: center;
}

@media screen and (max-width: 1840px){
    .mainDiv{
        width: 640px;
    }
}
@media screen and (max-width:679px){
    .mainDiv{
        width: 97%;
    }
    .backpackImg{
        width: 97% !important;
    }
}